@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Barlow:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(237deg, #2C2D65 0.35%, #201F22 100%);
  font-family: Barlow;
  position: relative;
}
body .big::before {
  content: url(/images/biglogo.png);
  top: -111px;
  left: 1580px;
  position: absolute;
  width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: Barlow;
  color: rgb(255, 255, 255);
}
.header .container .logo {
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
.header .container .logo span {
  color: rgb(230, 96, 108);
}
.header .container ul {
  display: inline-flex;
  list-style: none;
  gap: 33px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-items: center;
}

main .container {
  padding-top: 120px;
}
main .container .top::before {
  content: url(/images/spiral.png);
  top: -25px;
  left: 30px;
  position: absolute;
  width: 200%;
}
main .container .top::after {
  content: url(/images/rectangle.png);
  bottom: -80px;
  left: 350px;
  position: absolute;
  width: 100%;
}
main .container .top {
  padding: 21px 76px 21px 76px;
  position: relative;
}
main .container .top h1 {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2.88px;
  text-transform: uppercase;
}
main .container .top h2 {
  color: rgb(232, 171, 54);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 10px;
}
main .container .top p {
  color: rgb(216, 216, 216);
  width: 406px;
  height: 103px;
  flex-shrink: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.72px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(216, 216, 216);
}
main .container .top a {
  margin-top: 40px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.63px;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 75px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 152px;
  height: 43px;
  text-decoration: none;
  text-wrap: nowrap;
  align-items: center;
}
main .container .top .one {
  background-color: rgb(230, 96, 108);
  padding: 11px 30px;
  color: rgb(255, 255, 255);
}
main .container .top .two {
  background-color: #EFEFEF;
  margin-left: 20px;
  padding: 11px 35px;
  color: black;
}
main .container .middle {
  max-width: 100%;
  padding-top: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 210px;
}
main .container .middle .dude {
  width: 570px;
  height: 570px;
  margin-left: 100px;
}
main .container .middle .desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .container .middle .desc .about-us {
  color: rgba(255, 255, 255, 0.5);
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
main .container .middle .desc h1 {
  color: #FFF;
  font-family: Barlow Condensed;
  font-size: 56px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
}
main .container .middle .desc h2 {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
main .container .middle .desc .text {
  color: rgba(255, 255, 255, 0.5);
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
main .container .middle .desc a {
  margin-top: 30px;
  background: #E6606C;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.63px;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 75px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 152px;
  height: 43px;
  text-decoration: none;
  text-wrap: nowrap;
  align-items: center;
  background-color: rgb(230, 96, 108);
  padding: 11px 30px;
  color: rgb(255, 255, 255);
}
main .container .bot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .container .bot .hero {
  text-align: center;
  padding-bottom: 60px;
}
main .container .bot .hero .about-us {
  color: rgba(255, 255, 255, 0.5);
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
main .container .bot .hero .head1 {
  color: #FFF;
  font-family: Barlow Condensed;
  font-size: 56px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
  padding-bottom: 30px;
}
main .container .bot .hero .text {
  color: rgba(255, 255, 255, 0.5);
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
main .container .bot .cards {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}
main .container .bot .cards .left, main .container .bot .cards .mid, main .container .bot .cards .right {
  width: 100%;
  background: linear-gradient(180deg, #4D4F95 0%, #2B2D66 100%);
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.08);
  display: grid;
  grid-template-rows: 0.5fr 2fr;
}
main .container .bot .cards .left a, main .container .bot .cards .mid a, main .container .bot .cards .right a {
  text-decoration: none;
}
main .container .bot .cards .left a h2, main .container .bot .cards .mid a h2, main .container .bot .cards .right a h2 {
  font-family: Barlow Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  color: #FFF;
}
main .container .bot .cards .left a p, main .container .bot .cards .mid a p, main .container .bot .cards .right a p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}