* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(237deg, #2C2D65 0.35%, #201F22 100%);
  font-family: Barlow;
  position: relative;
  .big::before {
    content: url(/images/biglogo.png);
    top: 0;
    right: 0;
    transform: translateY(1000px);
    transform: translatex(120px);

    position: absolute;
    object-fit: none;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}