.header {
    background-color: lightcoral;
    

    .container {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
        font-family: Barlow;
        color: $plain-white;

        background-color: red;

        .logo {
            font-size: 32px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            text-transform: uppercase;

            span {
                color: $off-red;
            }
        }

        ul {
            display: inline-flex;
            list-style: none;
            gap: 33px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            align-items: center;
        }
    }
}